@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dusty-grape-950 text-dusty-grape-50;
  }
  
  /* Optional: Custom Scrollbar for Webkit browsers to match the theme */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-dusty-grape-900;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-dusty-grape-700 rounded-full;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-dusty-grape-600;
  }
}